/** common */
.row-divider {
    height: 0;
    border-top: 1px solid #e7ecf1;
    margin-bottom: 10px;
}

.inline-block {
    display: inline-block !important;
}

.no-bg {
    background-color: transparent !important;
}

.text-18 {
    font-size: 18px !important;
}

/** text */
.line-through {
    text-decoration: line-through !important;
}

.weight-400 {
    font-weight: 400 !important;
}

.font-16 {
    font-size: 16px !important;
}

/** padding */
.padding-0 {
    padding: 0 !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

/** margin */
.margin-0 {
    margin: 0 !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

/** border */
.border-0 {
    border: 0 !important;
}

/** float */
.clear-fix {
    clear: both !important;
}

/** page-header */
.page-header.navbar .page-logo .logo-default {
    margin-top: 15px;
    max-width: 120px;
    max-height: 40px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:last-child {
    padding-right: 16px;
}

.page-quick-sidebar-open .page-quick-sidebar-toggler > i:before {
    content: "\e050";
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover.navbar-collapse, .page-sidebar.navbar-collapse {
    height: 100% !important;
}

.page-sidebar .page-sidebar-menu {
    height: 100%;
}

/** .page-sidebar */
.page-sidebar-wrapper.sidebar {
    position: fixed;
    top: 68px;
    left: 0;
    height: calc(100% - 68px) !important;
    z-index: 2000;
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .menu-toggler.sidebar-toggler {
    margin-right: 25px;
    margin-top: 25px;
}

.page-sidebar .page-sidebar-menu > li > a > [class^=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > [class^=icon-] {
    margin-right: 10px;
}

@media (max-width: 992px) {
    .page-sidebar-wrapper.sidebar {
        position: static;
        top: 0;
        height: auto;
    }
}

@media (min-width: 992px) {
    .page-sidebar-closed .page-sidebar, .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
        width: 68px !important;
    }

    .page-sidebar-closed .page-content-wrapper .page-content {
        margin-left: 68px !important;
    }

    .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
        width: 68px;
    }

    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a {
        min-height: 68px;
        padding-left: 17px;
    }

    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a > i {
        vertical-align: middle;
        margin-top: 8px;
    }

    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > a > .title {
        position: relative;
        top: 10px;
        padding-left: 15px;
    }

    .page-sidebar-menu.page-sidebar-menu-closed > li:hover, .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu, .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
        box-shadow: none;
    }

    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
        left: 68px;
    }

    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
        width: 262px !important;
    }
}

/** page-footer */
.page-footer.page-footer-fixed {
    background-color: #eef1f5;
    margin-left: 195px;
    padding: 8px 20px 5px;
}

.page-sidebar-closed .page-footer.page-footer-fixed {
    margin-left: 68px;
}

.page-footer.page-footer-fixed .page-footer-inner {
    color: #333;
}

@media (max-width: 991px) {
    .page-footer.page-footer-fixed {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
    }
}

/** dropdown-menu */
.dropdown-menu {
    box-shadow: none;
}

.dropdown-menu > li {
    position: relative;
}

.dropdown-menu > li > span {
    padding: 8px 16px;
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
}

.dropdown-menu > li > span:hover {
    text-decoration: none;
    color: #262626;
    background-color: #e1e5ec;
}

.dropdown-menu > li > i, .submenu > li > i {
    position: absolute;
    top: 10px;
    right: 4px;
    color: #6f6f6f;
}

.submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 175px;
    list-style: none;
    text-shadow: none;
    padding: 0;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 5px 5px rgba(102, 102, 102, .1);
}

.submenu li {
    position: relative;
}

.submenu > li > a, .submenu > li > span {
    padding: 8px 16px;
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}

.submenu > li > a:hover, .submenu > li > span:hover {
    text-decoration: none;
    color: #262626;
    background-color: #e1e5ec;
}

.dropdown-menu > li:hover > .submenu, .submenu > li:hover > .submenu {
    display: block;
}

.bootstrap-select.btn-group .dropdown-menu {
    margin-bottom: 1px !important;
}

/** bootstrap-select */
.page-bar .bootstrap-select.default .btn.dropdown-toggle {
    height: 39px;
}

.bootstrap-select.default .btn.dropdown-toggle {
    color: #666;
    background-color: #e1e5ec;
    border-color: #e1e5ec;
}

.bootstrap-select.default .btn.dropdown-toggle:hover, .bootstrap-select.default .btn.dropdown-toggle:focus {
    color: #666;
    background-color: #c2cad8;
    border-color: #93a1bb;
}

/** fixed-aside */
.fixed-aside {
    position: static;
    top: 0;
}

.page-fixed-aside .fixed-aside {
    position: fixed;
}

@media (max-width: 1200px) {
    .col-lg-3 .fixed-aside, .col-lg-4 .fixed-aside {
        position: static !important;
    }
}

/** portlet */
.portlet.light.border {
    border: 1px solid #ddd;
}

/** note */
.note button.close {
    margin-top: 0 !important;
    margin-right: -10px;
}

.portlet.light.widget-box {
    /*padding: 0;*/
    /*position: relative;*/
    margin-bottom: 0;
}

.portlet.light.widget-box .portlet-title > .caption {
    /*padding: 15px;*/
}

.portlet.light.widget-box .portlet-title > .actions {
    /*padding: 10px;*/
}

.portlet.light.widget-box .portlet-body {
    /*padding: 0;*/
    /*margin: 0;*/
    /*min-height: 380px;*/
}

/**  loader */
.loadingLayout {
    /*background-color: rgba(0, 0, 0, .1);*/
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
}

.loader {
    display: inline-block;
    border: 4px solid #f3f3f3;
    border-radius: 50% !important;
    border-top: 4px solid #3498db;
    width: 48px;
    height: 48px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.svg-loader {
    display: table;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
}

.svg-loader > * {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    border: 0;
    -webkit-animation: none; /* Safari */
    animation: none;
}

.svg-loader > .loader:after {
    content: "";
    display: inline-block;
    border: 4px solid #f3f3f3;
    border-radius: 50% !important;
    border-top: 4px solid #3498db;
    width: 48px;
    height: 48px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.svg-loader > .text:after {
    content: '';
    display: inline;
    font-size: 14px;
    color: #333;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/** sortable grid **/
.grid {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}

.grid-item {
    display: block;
    float: left;
    /*position: absolute;*/
    width: 49.96%;
    height: auto;
    margin: 0 0 25px;
    padding: 0 15px;
    z-index: 1;
}

.grid-item .portlet {
    margin-bottom: 0 !important;
}

.grid-item.muuri-item-dragging {
    z-index: 3;
}

.grid-item.muuri-item-releasing {
    z-index: 2;
}

.grid-item.muuri-item-hidden {
    z-index: 0;
}

.grid-item-content {
    position: relative;
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px) {
    .grid-item {
        width: 100%;
        /*position: static !important;*/
    }
}

.mt-comments.libs .mt-comment {
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
}

.mt-comments.libs .mt-comment .mt-comment-img > img {
    border-radius: 0 !important;
}

.mt-comments.libs .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions {
    display: block;
}

.mt-comments.libs .mt-comment .mt-comment-body .mt-comment-info .mt-comment-author a {
    color: #060606;
}

.mt-comments.libs .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions > li {
    margin-left: 15px;
    margin-right: 0;
    padding: 5px 0;
}

.portlet .bootstrap-table .table {
    border-bottom: 0;
}

/** Common actions */
#head-cart-count, #head-alert-count, #head-message-count, #head-notice-count {
    display: none;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
    padding-bottom: 16px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > i.la {
    font-size: 22px;
}

.no-result {
    width: 100%;
    text-align: center;
}