/** common */
.row-divider {
    height: 0;
    border-top: 1px solid #e7ecf1;
    margin-bottom: 10px;
}

.no-bg {
    background-color: transparent !important;
}

/** text */
.line-through {
    text-decoration: line-through !important;
}

.weight-400 {
    font-weight: 400 !important;
}

.font-16 {
    font-size: 16px !important;
}

/** padding */
.padding-0 {
    padding: 0 !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

/** margin */
.margin-0 {
    margin: 0 !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

/** border */
.border-0 {
    border: 0 !important;
}

/** float */
.clear-fix {
    clear: both !important;
}

/** page-header */
.page-header.navbar .page-logo .logo-default {
    margin-top: 15px;
    max-width: 120px;
    max-height: 40px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:last-child {
    padding-right: 16px;
}

.page-quick-sidebar-open .page-quick-sidebar-toggler > i:before {
    content: "\e050";
}

/** .page-sidebar */
.page-sidebar-wrapper.sidebar {
    position: fixed;
    top: 68px;
    left: 0;
    height: calc(100% - 68px) !important;
    z-index: 2000;
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .menu-toggler.sidebar-toggler {
    margin-right: 25px;
    margin-top: 25px;
}

.page-sidebar .page-sidebar-menu > li > a > [class^=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > [class^=icon-] {
    margin-right: 10px;
}

@media (max-width: 992px) {
    .page-sidebar-wrapper.sidebar {
        position: static;
        top: 0;
        height: auto;
    }
}

@media (min-width: 992px) {
    .page-sidebar-closed .page-sidebar, .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
        width: 68px !important;
    }

    .page-sidebar-closed .page-content-wrapper .page-content {
        margin-left: 68px !important;
    }

    .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
        width: 68px;
    }

    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a {
        min-height: 68px;
        padding-left: 17px;
    }

    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a > i {
        vertical-align: middle;
        margin-top: 8px;
    }

    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > a > .title {
        position: relative;
        top: 10px;
        padding-left: 15px;
    }

    .page-sidebar-menu.page-sidebar-menu-closed > li:hover, .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu, .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
        box-shadow: none;
    }

    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
        left: 68px;
    }

    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
        width: 262px !important;
    }
}

/** page-footer */
.page-footer.page-footer-fixed {
    background-color: #eef1f5;
    margin-left: 195px;
    padding: 8px 20px 5px;
}

.page-sidebar-closed .page-footer.page-footer-fixed {
    margin-left: 68px;
}

.page-footer.page-footer-fixed .page-footer-inner {
    color: #333;
}

@media (max-width: 991px) {
    .page-footer.page-footer-fixed {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
    }
}

/** dropdown-menu */
.dropdown-menu {
    box-shadow: none;
}

.dropdown-menu > li {
    position: relative;
}

.dropdown-menu > li > span {
    padding: 8px 16px;
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
}

.dropdown-menu > li > span:hover {
    text-decoration: none;
    color: #262626;
    background-color: #e1e5ec;
}

.dropdown-menu > li > i, .submenu > li > i {
    position: absolute;
    top: 10px;
    right: 4px;
    color: #6f6f6f;
}

.submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 175px;
    list-style: none;
    text-shadow: none;
    padding: 0;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 5px 5px rgba(102, 102, 102, .1);
}

.submenu li {
    position: relative;
}

.submenu > li > a, .submenu > li > span {
    padding: 8px 16px;
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}

.submenu > li > a:hover, .submenu > li > span:hover {
    text-decoration: none;
    color: #262626;
    background-color: #e1e5ec;
}

.dropdown-menu > li:hover > .submenu, .submenu > li:hover > .submenu {
    display: block;
}

.bootstrap-select.btn-group .dropdown-menu {
    margin-bottom: 1px !important;
}

/** bootstrap-select */
.page-bar .bootstrap-select.default .btn.dropdown-toggle {
    height: 39px;
}

.bootstrap-select.default .btn.dropdown-toggle {
    color: #666;
    background-color: #e1e5ec;
    border-color: #e1e5ec;
}

.bootstrap-select.default .btn.dropdown-toggle:hover, .bootstrap-select.default .btn.dropdown-toggle:focus {
    color: #666;
    background-color: #c2cad8;
    border-color: #93a1bb;
}

/** shopping */
.category-label {
    color: #a0a9b4;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 700;
}

.thumbnail {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 4px;
    margin: 0;
    overflow: hidden;
}

.thumbnail img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.shopping .list-name {
    color: #333;
    text-decoration: none;
}

.shopping .list-name a {
    color: inherit;
    text-decoration: inherit;
}

.shopping .list-price {
    color: #333;
    text-align: right;
}

.shopping .list-val {
    color: #888;
    text-align: right;
}

.shopping .product-row td {
    position: relative;
}

.shopping div.category-select {
    display: none !important;
}

@media (max-width: 991px) {
    .shopping .list-name {
        font-weight: 600;
    }

    .shopping .list-name a {
        margin-right: 200px;
    }

    .shopping .list-price, .shopping .list-val {
        text-align: left;
        margin-top: 5px;
    }

    .shopping div.category-select {
        display: inline-block !important;
        margin-bottom: 15px;
    }

    .shopping .category-sidebar {
        display: none !important;
    }
}

.shopping .qty {
    margin-top: 10px;
}

@media (max-width: 991px) {
    .shopping .product-row .qty {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5px;
    }
}

@media (max-width: 640px) {
    .shopping .list-name a {
        margin-right: 0;
    }

    .shopping .product-row .qty {
        position: static;
    }
}

.shopping .qty .minus, .shopping .qty .plus {
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    border-color: #ccc;
    color: #888;
}

.shopping .qty input {
    height: 34px;
    width: 50px;
    font-size: 14px;
    background-color: #f5f5f5;
    border-color: #ccc;
}

.promotions {
    margin-top: 20px;
    /*border-top: 1px solid #ddd;*/
    padding-top: 15px;
}

.promotions .well {
    margin-top: 10px;
}

.totals {
    /*color: #777;*/
}

.totals .m-grid-row > div {
    padding: 0 0 15px 0;
    font-size: 14px;
}

.totals .m-grid-row > div:first-child {
    color: #777;
    padding-right: 10px !important;
}

.totals .m-grid-row > div:last-child {
    color: #111;
    text-align: right;
    padding-left: 10px !important;
}

.totals .total-top > div {

    border-bottom: 1px solid #a0a9b4;
}

.totals .total-bot > div {
    padding-top: 15px;
    font-weight: 600;
    border-top: 1px solid #a0a9b4;
    font-size: 16px;
}

.totals .total-act > div {
    padding-bottom: 0;
}

.portlet.light.portlet-product {
    border-bottom: 1px solid #eee;
}

.portlet-product .product-image {
    padding: 10px 4%;
    display: block;
    text-align: center;
}

.portlet-product .product-image img {
    width: 92%;
}

.portlet-product .caption-subject {
    display: block;
    min-height: 20px;
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px !important;
}

.portlet-product.portlet.light.portlet-fit > .portlet-title {
    padding: 10px 15px;
    border-bottom: 0;
    margin-bottom: 0;
    height: 123px;
}

.shopping .inbox .inbox-nav {
    margin: 15px 0 0;
}

.product-detail .breadcrumb {
    padding: 10px;
}

.product-detail .img-wrapper {
    text-align: center;
    padding: 15px;
    max-height: 480px;
}

.product-detail .img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.product-detail .thums-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.product-detail .thums-list li {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 45px;
    text-align: center;
    padding: 4px;
    border: 1px solid #eee;
    cursor: pointer;
}

.product-detail .thums-list li:hover, .product .thums-list li.active:hover {
    border-color: #008264;
}

.product-detail .thums-list img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.product-detail .property .name {
    font-weight: 400;
}

.product-detail .property .name small {
    color: #999;
    display: block;
    font-size: 14px;
}

.product-detail .property label {
    color: #999;
    size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
    text-transform: uppercase;
    vertical-align: middle;
}

.product-detail .property .values {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-detail .property .values .val {
    font-size: 24px;
    color: #333;
}

.product-detail .property .values > .col {
    text-align: center;
}

.product-detail .property .values > .col:first-child {
    text-align: left;
}

.product-detail .property .values > .col:first-child > * {
    padding-left: 2px;
}

.product-detail .property .values > .col:last-child {
    text-align: right;
}

.product-detail .property .values > .col:last-child > * {
    padding-right: 2px;
}

.product-detail .property .share {
    line-height: 48px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 15px 0;
}

.product-detail .property .share label {
    margin-right: 8px;
}

.product-detail .property .share a {
    font-size: 32px;
    width: 48px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    color: #444;
    display: inline-block;
    vertical-align: top;
}

.product-detail .property .explanation {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 15px 0;
    font-size: 16px;
    opacity: .7;
}

.product-detail .property .options {
    margin-top: 15px;
    padding-bottom: 15px;
}

.product-detail .property .options a {
    display: inline-block;
    margin-right: 5px;
    color: #333;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
}

.product-detail .property .options .opt-img {
    width: 60px;
    height: 60px;
    padding: 4px;
    border: 1px solid #eee;
    text-align: center;
    margin-top: 5px;
}

.product-detail .property .options .opt-img img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.product-detail .property .actions {
    margin-top: 15px;
}

.qty .minus, .qty .plus {
    display: inline-block;
    width: 48px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
    border: 1px solid #0da899;
    font-size: 18px;
    color: #0da899;
    background-color: #fff;
}

.qty .minus:active, .qty .plus:active {
    background-color: #c3f3ee;
}

.product-detail .property .actions .qty .minus {
    /*margin-left: 15px;*/
}

.qty > * {
    vertical-align: top;
}

.qty input {
    height: 48px;
    width: 100px;
    text-align: center;
    border: 1px solid #0da899;
    color: #333;
    font-size: 28px;
}

.product-detail .property .actions button {
    height: 48px;
    font-size: 18px;
    min-width: 256px;
    max-width: 50%;
}

.product-detail .description, .product-detail .related {
    margin-top: 30px;
}

.product-detail .description img {
    max-width: 100%;
}

.product-detail .social-card .card-price {
    border-top: 0;
    padding-top: 0;
    margin: 2px 2%;
    font-weight: 600;
}

.product-detail .social-card .thumbnail {
    width: 96%;
    margin: 0 2%;
    border: 0;
}

.product-detail .social-card.share .card-header {
    /*padding: 5px 15px 5px;*/
    min-height: auto;
    text-decoration: none;
}

.product-detail .tabbable-bordered .tab-content {
    min-height: 480px;
}

.product-detail .flexslider {
    margin-bottom: 0;
}

.product-detail .social-card.share .card-header h5 {
    display: block;
    margin: 0 2%;
    font-weight: 500;
    color: #666;
}

@media (max-width: 991px) {
    .product-detail .property .actions button {
        min-width: auto;
    }

    .product-detail .thums-list {
        padding-bottom: 30px;
    }

    .product-detail .md-container {
        padding: 15px 30px;
    }

    .product-detail .breadcrumb {
        padding-left: 0;
        padding-right: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
}

/** fixed-aside */
.fixed-aside {
    position: static;
    top: 0;
}

.page-fixed-aside .fixed-aside {
    position: fixed;
}

@media (max-width: 1200px) {
    .col-lg-3 .fixed-aside, .col-lg-4 .fixed-aside {
        position: static !important;
    }
}

/** portlet */
.portlet.light.border {
    border: 1px solid #ddd;
}